.player {
    /* background: linear-gradient(
        green 50%,
        red
    ); */
    border-radius: 4px;
    padding: 10px 50px;
}

.player-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player h1 {
    border-radius: 4px;
    align-items: center;
    text-align: center;
    color: white;
}

.player h2 {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: white;
}

.player-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-actions button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: lightgrey;
    margin-right: 10px;
    justify-content: center;
}